{
	admin off
	persist_config off
	auto_https off

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges
	}
}

(lb_settings) {
	lb_policy round_robin
	lb_retries 100
	lb_try_duration 10s
	lb_try_interval 250ms
}

(passive_health_checks) {
	fail_duration 60s
	max_fails 300
	unhealthy_latency 5s
	unhealthy_request_count 200
}

:80, :443 {
	log {
		output file /var/log/caddy/access.log
		format console
	}

	handle /stub_status {
		respond "OK" 200
	}

	handle /api/import/* {
		reverse_proxy {$ENV_APPFLOWY_CLOUD}:{$ENV_APPFLOWY_CLOUD_PORT} {
			header_up X-Request-Id {http.request.id}
			header_up Host {http.request.host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {http.forward_for}

			import lb_settings
			import passive_health_checks
			header_up Host {upstream_hostport}
		}

		request_body {
			max_size 2GB
		}
	}

	handle /ws/* {
		reverse_proxy {$ENV_APPFLOWY_CLOUD}:{$ENV_APPFLOWY_CLOUD_PORT} {
			header_up Host {host}
			header_up Upgrade {http.request.header.Upgrade}
			header_up Connection {http.request.header.Connection}
		}
	}

	handle /api/chat/* {
		reverse_proxy {$ENV_APPFLOWY_CLOUD}:{$ENV_APPFLOWY_CLOUD_PORT} {
			header_up Host {host}
			transport http {
				response_header_timeout 600s
			}
		}
	}

	handle /api/* {
		reverse_proxy {$ENV_APPFLOWY_CLOUD}:{$ENV_APPFLOWY_CLOUD_PORT} {
			header_up X-Request-Id {http.request.id}
			header_up Host {http.request.host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {http.forward_for}

			import lb_settings
			import passive_health_checks
			header_up Host {upstream_hostport}
		}
	}

	handle_path /gotrue/* {
		reverse_proxy {$ENV_GOTRUE}:{$ENV_GOTRUE_PORT} {
			header_up Host {http.request.host}
			header_down +*
		}
	}

	handle_path /minio {
		reverse_proxy {$ENV_MINIO}:{$ENV_MINIO_PORT} {
			header_up Host {http.request.host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {http.forward_for}
		}
	}

	handle /ai/* {
		reverse_proxy {$ENV_APPFLOWY_AI}:{$ENV_APPFLOWY_AI_PORT} {
			header_up Host {http.request.host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {http.forward_for}
		}
	}

	handle {
		reverse_proxy {$ENV_ADMIN_FRONTEND}:{$ENV_ADMIN_FRONTEND_PORT}
	}

	# Uncomment if using frontend app
	# handle {
	# 	reverse_proxy {$ENV_FRONTEND}:{$ENV_FRONTEND_PORT}
	# }
}
